# syncs data with an S3 bucket. requires s3cmd, with S3 credentials in a s3cfg file.
s3:
  bucket: s3://bucketname
  s3cmd: /path/to/s3cmd
  s3cfg: /path/to/.s3cfg

# root data directory of congress information
data: /path/to/congress/data